@use '../../../variables' as *;

.cont {
    display: flex;
    flex-direction: column;
    margin: 6rem 3rem 0rem 3rem;

    .upperCont {
        display: flex;
        width: 100%;
        margin-bottom: 1.5rem;
        align-items: center;
        justify-content: space-between;

        .leftCont {
            display: flex;
            width: 47%;
            height: 2.5rem;
            align-items: center;
            background-color: $contColor;
            border-radius: 20px;
            padding: 1rem 1rem;
            font-size: 38px;
            font-weight: lighter;
            box-shadow: $contShadow;
        }
        .rightCont {
            display: flex;
            width: 47%;
            height: 2.5rem;
            align-items: center;
            background-color: $contColor;
            border-radius: 20px;
            padding: 1rem 1rem;
            font-size: 24px;
            font-weight: lighter;
            box-shadow: $contShadow;
        }
    }

    .mainCont {
        display: flex;
        width: 100%;
        height: 31rem;
        border-radius: 20px;
        box-shadow: $contShadow;
    }
}