@use '../../../variables' as *;

a {
    background-color: transparent;
}

.contContact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 3rem 1rem 3rem;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: $contShadowSpec;
    background-color: $contColor;

    .contInfoContact {
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: transparent;

        .contAdress {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 1rem;

            .first {
                background-color: transparent;
                margin-top: 0.5rem;
                p {
                    font-size: 20px;
                    font-weight: normal;
                    background-color: transparent;
                }
            }
        }

        .contSocial {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            justify-content: center;
            font-size: 30px;
            margin-top: 1rem;
            font-weight: bold;

            .poleSocial {
                display: flex;
                align-items: center;
                background-color: transparent;
                font-size: 22px;
                font-weight: 300;
                margin-top: 0.8rem;

                img {
                    background-color: transparent;
                    width: 2rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .contMap {
        background-color: transparent;
        border: none;

        iframe {
            border: none;
            border-radius: 20px;
        }
    }
}

@media (max-width: 1100px) {
    .contContact {
        .contInfoContact {
            width: 100%;
            justify-content: space-between;
            flex-direction: row;

            .contSocial {
                margin-top: 0;
            }
        }
        .contMap {
            display: none;
        }
    }
}

@media (max-width: 780px) {
    .contContact {
        .contInfoContact {
            .contAdress {
                font-size: 24px;
                .first {
                    p {
                        font-size: 16px;
                    }
                }

            }
            .contSocial {
                font-size: 24px;
                .poleSocial {
                    img {
                        width: 1.5rem;
                    }
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .contContact {
        margin-top: 0;
        margin-left: 0.5rem;
        margin-right: .5rem;
        .contInfoContact {
            .contAdress {
                display: none;
            }

            .contSocial {
                font-size: 20px;
                .poleSocial {
                    font-size: 14px;
                }
            }
        }
    }
}